<nav class="bg-white shadow-sm fixed top-0 w-full z-50">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 justify-between">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                <button (click)="toggleMenu()" type="button"
                    class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:ring-2 focus:ring-indigo-500 focus:outline-hidden focus:ring-inset"
                    aria-controls="mobile-menu" aria-expanded="false">
                    <span class="absolute -inset-0.5"></span>
                    <span class="sr-only">Open main menu</span>
                    <svg class="block size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        aria-hidden="true" data-slot="icon">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                    </svg>
                    <svg class="hidden size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        aria-hidden="true" data-slot="icon">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                <div class="flex shrink-0 items-center">
                    <img class="h-12 w-auto" src="flo-logo-11.webp" alt="flo and go logo">
                </div>
                <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
                    <a href="{{ currentLanguage === 'pt-PT' ? '/' : '/' + currentLanguage }}" class="inline-flex items-center px-1 pt-1 text-sm font-medium text-gray-900">
                        {{ getTranslation('link_pagina_inicial') }}
                    </a>
                    <a href="#"
                        class="inline-flex items-center px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">
                        {{ getTranslation('link_pedir_transporte') }}
                    </a>
                    <a href="#"
                        class="inline-flex items-center px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">
                        {{ getTranslation('link_conduzir') }}
                    </a>
                    <a href="#"
                        class="inline-flex items-center px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">
                        {{ getTranslation('link_paginas') }}
                    </a>
                    <div
                        class="relative group inline-flex items-center px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">
                        <button id="languageDropdownButton"
                            class="inline-flex items-center px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700"
                            type="button">
                            🌐 {{ getTranslation('link_idioma') }}
                            <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 10 6">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m1 1 4 4 4-4" />
                            </svg>
                        </button>

                        <div id="languageDropdown"
                            class="submenu absolute left-0 top-full hidden min-w-[200px] rounded-md bg-white p-4 transition-[top] duration-300 group-hover:opacity-100 dark:bg-gray-700 lg:invisible lg:absolute lg:top-[110%] lg:block lg:opacity-0 lg:shadow-lg lg:group-hover:visible lg:group-hover:top-full">
                            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
                                <li>
                                    <a href="/"
                                        class="flex items-center gap-2 px-4 py-2 text-sm text-body-color hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer">
                                        <span class="fi fi-pt w-5 h-5"></span>
                                        <span class="whitespace-nowrap">Português (Europeu)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/en"
                                        class="flex items-center gap-2 px-4 py-2 text-sm text-body-color hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer">
                                        <span class="fi fi-gb w-5 h-5"></span>
                                        <span class="whitespace-nowrap">English (Global)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/fr-FR"
                                        class="flex items-center gap-2 px-4 py-2 text-sm text-body-color hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer">
                                        <span class="fi fi-fr w-5 h-5"></span>
                                        <span class="whitespace-nowrap">Français (France)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/es-ES"
                                        class="flex items-center gap-2 px-4 py-2 text-sm text-body-color hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer">
                                        <span class="fi fi-es w-5 h-5"></span>
                                        <span class="whitespace-nowrap">Español (España)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/de-DE"
                                        class="flex items-center gap-2 px-4 py-2 text-sm text-body-color hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer">
                                        <span class="fi fi-de w-5 h-5"></span>
                                        <span class="whitespace-nowrap">Deutsch (Deutschland)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/it-IT"
                                        class="flex items-center gap-2 px-4 py-2 text-sm text-body-color hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer">
                                        <span class="fi fi-it w-5 h-5"></span>
                                        <span class="whitespace-nowrap">Italiano (Italia)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/zh-CN"
                                        class="flex items-center gap-2 px-4 py-2 text-sm text-body-color hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer">
                                        <span class="fi fi-cn w-5 h-5"></span>
                                        <span class="whitespace-nowrap">中文 (普通话) (中国)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/hi-IN"
                                        class="flex items-center gap-2 px-4 py-2 text-sm text-body-color hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer">
                                        <span class="fi fi-in w-5 h-5"></span>
                                        <span class="whitespace-nowrap">हिन्दी (भारत)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/pl-PL"
                                        class="flex items-center gap-2 px-4 py-2 text-sm text-body-color hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer">
                                        <span class="fi fi-pl w-5 h-5"></span>
                                        <span class="whitespace-nowrap">Polski (Polska)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/sv-SE"
                                        class="flex items-center gap-2 px-4 py-2 text-sm text-body-color hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer">
                                        <span class="fi fi-se w-5 h-5"></span>
                                        <span class="whitespace-nowrap">Svenska (Sverige)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/da-DK"
                                        class="flex items-center gap-2 px-4 py-2 text-sm text-body-color hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer">
                                        <span class="fi fi-dk w-5 h-5"></span>
                                        <span class="whitespace-nowrap">Dansk (Danmark)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/fi-FI"
                                        class="flex items-center gap-2 px-4 py-2 text-sm text-body-color hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer">
                                        <span class="fi fi-fi w-5 h-5"></span>
                                        <span class="whitespace-nowrap">Suomi (Suomi)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/ja-JP"
                                        class="flex items-center gap-2 px-4 py-2 text-sm text-body-color hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer">
                                        <span class="fi fi-jp w-5 h-5"></span>
                                        <span class="whitespace-nowrap">日本語 (日本)</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                <!-- <button type="button"
                    class="relative rounded-full bg-white p-1 text-gray-400 hover:text-gray-500 focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:outline-hidden">
                    <span class="absolute -inset-1.5"></span>
                    <span class="sr-only">View notifications</span>
                    <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        aria-hidden="true" data-slot="icon">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" />
                    </svg>
                </button> -->

                <div class="relative ml-3">
                    <!-- <div>
                        <button type="button"
                            class="relative flex rounded-full bg-white text-sm focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:outline-hidden"
                            id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                            <span class="absolute -inset-1.5"></span>
                            <span class="sr-only">Open user menu</span>
                            <img class="size-8 rounded-full"
                                src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                alt="">
                        </button>
                    </div>
                    <div class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 ring-1 shadow-lg ring-black/5 focus:outline-hidden"
                        role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
                            id="user-menu-item-0">Your Profile</a>
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
                            id="user-menu-item-1">Settings</a>
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
                            id="user-menu-item-2">Sign out</a>
                    </div> -->
                    <div class="relative ml-3 flex space-x-4">
                        <a [href]="'/' + currentLanguage + '/register'"
                            class="bg-black text-white inline-flex items-center px-4 py-2 text-sm font-bold rounded-md hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-black focus:ring-opacity-50">
                            {{ getTranslation('button_registar_se') }}
                        </a>
                        <a [href]="'/' + currentLanguage + '/login'"
                            class="bg-white text-black inline-flex items-center px-4 py-2 text-sm font-bold border border-gray-300 rounded-md hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-300 focus:ring-opacity-50">
                            {{ getTranslation('button_iniciar_sessao') }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div [class.hidden]="!menuOpen" class="sm:hidden" id="mobile-menu">
        <div class="space-y-1 pt-2 pb-4">
            <a href="/"
                class="block border-l-4 border-indigo-500 bg-indigo-50 py-2 pr-4 pl-3 text-base font-medium text-indigo-700">{{
                getTranslation('link_pagina_inicial') }}</a>
            <a href="#"
                class="block border-l-4 border-transparent py-2 pr-4 pl-3 text-base font-medium text-gray-500 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-700">{{
                getTranslation('link_pedir_transporte') }}</a>
            <a href="#"
                class="block border-l-4 border-transparent py-2 pr-4 pl-3 text-base font-medium text-gray-500 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-700">{{
                getTranslation('link_conduzir') }}</a>
            <a href="#"
                class="block border-l-4 border-transparent py-2 pr-4 pl-3 text-base font-medium text-gray-500 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-700">{{
                getTranslation('link_paginas') }}</a>
        </div>
    </div>
</nav>