<div class="relative flex h-screen flex-col justify-center px-6 py-12 lg:px-8 overflow-hidden">
  <!-- Mobile Only Link -->
  <a routerLink="/"
    class="absolute top-4 right-4 flex md:hidden items-center px-4 py-2 text-gray-700 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-500">
    <span class="text-xl mr-2">&#8592;</span>
    <span>{{ getTranslation('back') }}</span>
  </a>

  <!-- Logo and Title -->
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img class="mx-auto h-16 w-auto" src="flo-logo-11.webp" alt="Your Company">
    <h2 class="mt-6 text-center text-md font-bold tracking-tight text-gray-900">
      {{ getTranslation('sign_in_title') }}
    </h2>
  </div>

  <!-- Login Form -->
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form [formGroup]="loginForm" (ngSubmit)="submit()" class="space-y-6">
      <!-- Email -->
      <div>
        <label for="email" class="block text-sm text-gray-900">{{ getTranslation('email_address') }}</label>
        <div class="mt-2">
          <input id="email" formControlName="email" type="email" autocomplete="email" required
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
        <p *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-red-500 text-xs mt-1">
          {{ getTranslation('invalid_email') }}
        </p>
      </div>

      <!-- Password -->
      <div class="relative">
        <div class="flex items-center justify-between">
          <label for="password" class="block text-sm text-gray-900">{{ getTranslation('password') }}</label>
          <div class="text-sm">
            <a routerLink="/forgot-password" class="font-semibold text-black hover:text-gray-900">
              {{ getTranslation('forgot_password') }}
            </a>
          </div>
        </div>
        <div class="mt-2 relative">
          <input id="password" formControlName="password" [type]="showPassword ? 'text' : 'password'"
            autocomplete="current-password" required
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 
           placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 pr-10">

          <!-- Eye Icon -->
          <button type="button" (click)="togglePasswordVisibility()"
            class="absolute inset-y-0 right-2 flex items-center">
            <!-- Show/Hide icons -->
          </button>
        </div>
        <p *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
          class="text-red-500 text-xs mt-1">
          {{ getTranslation('password_required') }}
        </p>
      </div>

      <!-- Submit Button -->
      <div>
        <button type="submit" [disabled]="loginForm.invalid || authManagerSignal.isLoadingState"
          class="flex w-full justify-center rounded-md bg-black px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-gray-900 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:bg-gray-400">
          <span>{{ getTranslation('sign_in') }}</span>
          <svg *ngIf="authManagerSignal.isLoadingState" class="ml-2 h-5 w-5 animate-spin text-white"
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M12 2a10 10 0 0 1 10 10h-4a6 6 0 0 0-6-6V2z"></path>
          </svg>
        </button>
      </div>

      <!-- OR separator -->
      <div class="relative my-4 flex items-center">
        <div class="w-full border-t border-gray-300"></div>
        <span class="mx-4 text-sm font-medium text-gray-500">{{ getTranslation('or') }}</span>
        <div class="w-full border-t border-gray-300"></div>
      </div>

      <!-- Google Sign-In Button -->
      <div id="google-signin-btn"></div>
    </form>

    <div *ngIf="authManagerSignal.errorMessageState" class="rounded-md bg-red-50 p-4 mt-2">
      <div class="flex">
        <div class="shrink-0">
          <!-- error icon -->
        </div>
        <div class="ml-3">
          <p class="text-sm font-medium text-red-800">{{ authManagerSignal.errorMessageState }}</p>
        </div>
      </div>
    </div>

    <!-- Register Link -->
    <p class="mt-10 text-center text-sm text-gray-500">
      {{ getTranslation('no_account') }}
      <a [href]="'/' + currentLanguage + '/register'" class="font-semibold leading-6 text-black hover:text-gray-900">
        {{ getTranslation('register_now') }}
      </a>
    </p>
  </div>
</div>